* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

.header {
    max-width: 1600px;
    height: 808px;
    background-image: url(/images/watch.png);
}

.header-title {
    font-weight: 700px;
    font-size: 45px;
    color: #FFFFFF;
    direction: rtl;
    margin-right: 180px;
    margin-left: 800px;
    padding-top: 216px;
}

.header-description {
    color: #FFFFFF;
    direction: rtl;
    margin-right: 180px;
    margin-left: 800px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 14px;
}

.text-btn-primary {
    font-weight: 600;
    font-size: 16px;
    color: #005FAC;
    direction: rtl;
    margin-left: 1040px;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

/* section-one styles */

.section-one-flex {
    display: flex;
    gap: 87px;
    align-items: center;
    margin-top: 130px;
    margin-left: 210px;
    margin-right: 220px;
    margin-bottom: 130px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.points {
    margin-top: 7.4px;
    Fill Color Style: Dark 02 Fill: Solid #444343
}

/* Section-two styles */

.section-two-title {
    text-align: center;
    font-size: 40px;
}

.website-lists {
    display: flex;
    gap: 80px;
    margin-top: 50px;
    margin-left: 295px;
    margin-right: 295px;
}

.contact {
    /* background-image: url(/images/gradient1.png) ; */
    background-image: linear-gradient(green, rgb(109, 96, 221));;
    margin-top: 130px;
    margin-left: 270px;
    margin-right: 270px;
    height: 200px;
    
}

.advice {
    padding: 40px 60px 0px;
    padding-right: 300px;
}
.advice-title{
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
}

.call-btn {
    font-weight: 600;
    font-size: 16px;
    color: #005FAC;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

/* Footer styles */

.footer{
    background-color: black;
    width: 1600px;
    height: 400px;
    margin-top: 130px ;
    color: white;
}

.future{
    margin-left: 100px;
    border: 2px solid red;
    border: none;
    width: 300px;
    height: 277px;
    padding: 60px;
}

.footer-title{
    font-size: 35px;
    margin-bottom: 24px;
    color: white;
}
.title-description{
    font-size: 14px;
    color: #ada6a6;
    margin-bottom: 24px;
}
.footer-flex{
    display: flex;
    gap: 300px;
    
}

.email{
    margin-bottom: 16px;
    background-color: black;
    border: none;
    color: #a09c9c;
}
.phone-number{
    background-color: black;
    border: none;
    color: #a09c9c;
}
.website-icon{
    display: flex;
    gap: 17px;
    margin-top: 32px;
}
.subscribe-title{
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 31px;
}
.placeholder{
    background-color: black;
    border: 1px solid wheat;
    border-radius: 5px;
    margin-bottom: 16px;
    width: 180px;
    height: 30px;
}
.subscribe-btn{
    font-weight: 600;
    font-size: 12px;
    width: 130px;
    height: 50px;
    background: #005FAC;
    color: wheat;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
}